.nav {
  border: 1px solid #fafafa;
  border-radius: 4px;
  margin: auto;
  text-align: center;
}

.navigation {
  min-width: 100%;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.navigation h1 {
  margin: auto;
}

.navigation li:hover {
  color: #0a0a0a;
  text-decoration: underline;
  background-color: #fafafa;
}
